
.App {
  background-color: #F2F2F2;
}
body {
  background-color: #F2F2F2 !important;
}
.cursor{
  cursor: pointer;
}

@font-face {
  font-family: 'Weekend Mood';
  src: url('/public/fonts/WeekendMood.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  src: url('/public/fonts/Futura.ttc') format('opentype');
}